p{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

hr{
    margin-left: 7px;
    width: 30%;
}

img{
    width: 30%;
    padding: 1%;
}

@media screen and (max-width: 800px) {
    img{
        width: 45%;
        margin: 1%;
    }
    .nom{
        width: 40%;
    }
}

@media screen and (max-width: 360px) {
    img{
        width: 98%;
        margin: 1%;
    }

    .nom{
        width: 52%;
    }
}