:root{
    --main-color: #e2988a;
    --hover-color: #883726;
    --font-color: #ffffff;
    --active-color: #f15637;
}

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    background-color: var(--main-color);
    width: 100%;
}

nav{
    width: 75%;
    margin: 0 auto;
}

nav ul{
    display: table;
    width: 100%;
}

nav ul li{
    display: table-cell;
    width: 25%;
    height: 30px;
    background-color: var(--main-color);
}

nav ul li a{
    display: block;
    text-align: center;
    height: 100%;
}

nav ul li a:hover{
    background-color: var(--hover-color);
    color: var(--font-color);
    height: 100%;
}

.active{
    background-color: var(--active-color);
}

@media screen and (max-width: 411px) {
    body{

    }

    nav{
        width: 100%;
        margin: 0 auto;
    }

    #menu-header{
        display: none;
    }

    nav ul li{
        display: list-item;
        width: 100%;
    }
}